<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/19bdd19522.js" crossorigin="anonymous"></script>
</head>

<body style="    background-color: currentColor;">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="/">Contacts Application</a>
        <ul class="navbar-nav navItemUlClass">
          <!-- <li class="nav-item navItemClass">
            <a class="nav-link" href="/about" style="color: white;">About us</a>
          </li> -->
          <!-- <li class="nav-item">
  
            <a id="SignInbtnid" class="nav-link" href="#" style="color: white;">Signin</a>
            <a id="LogOutbtnid" onclick="logout()" class="nav-link" href="#" style="display: none;color: white;">Logout</a>
  
          </li> -->
        </ul>
      </nav>
    <div class="container mainAboutDiv">
        <div class="container mt-5" style="text-align: center;">
            <h3 style="    font-size: 3rem;
            color: white;
            margin: 3rem 0;">About us</h3>
        </div>
        <div class="">
            <div id="detailCardId" class="container-fluid" style="width: 25rem;">
                <div class="row" id="divParentDetail">
                    <div class="col-12 cardStyling" style="    margin-bottom: 63px;">
                        <div class="card" style="height:25rem;">
                            <div class="card-body">
                                <div class="container mt-2">
                                    <div class="profileImage "
                                        style="width: 150px; height: 150px; border-radius: 50%; margin: 0 auto; background-color: red;">
                                        <img style="width: 150px; height: 150px; border-radius: 50%;"
                                            src="images/simran1.jpeg"
                                            alt="simran">
                                    </div>
                                </div>
                                <div class="container mt-3" style="text-align: center;">
                                    <p style="font-size: 1.7rem;
                      font-weight: bold;
                      font-family: sans-serif; margin-bottom: 0;">Simran Jain</p>
                                </div>
                                <div class="container" style="text-align: center;">
                                    <p style="font-size: 1.3rem;
                      font-weight: bold;
                      font-family: fangsong;
                      color: #babcbb;">Software Engineer</p>
                                </div>
                                <div class="container" style="text-align: center;
                      padding: 8% 0%;
                      display: flex;
                      justify-content: space-evenly;">
                                     <a href="https://www.linkedin.com/in/simran-jain-817003191" style="color: black;">
                                        <i class="fab fa-linkedin-in fa-2x"></i>
                                   </a>
                                   <a href="https://github.com/simran-c5" style="color: black;">
                                       <i class="fab fa-github fa-2x"></i>
                                   </a>
                                   <a href="mailto:simranmainajain@gmail.com" style="color: black;">
                                       <i class="far fa-envelope  fa-2x"></i>
                                   </a>
                                   <a href="https://meau.in/rishabh" style="color: black;">
                                    <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                                   </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 cardStyling" style="    margin-bottom: 63px;">
                        <div class="card" style="height:25rem;">
                            <div class="card-body">
                                <div class="container mt-2">
                                    <div class="profileImage "
                                        style="width: 150px; height: 150px; border-radius: 50%; margin: 0 auto; background-color: red;">
                                        <img style="width: 150px; height: 150px; border-radius: 50%;"
                                            src="images/rishabh.jpeg" alt="rishabh">
                                    </div>
                                </div>
                                <div class="container mt-3" style="text-align: center;">
                                    <p style="font-size: 1.7rem;
                      font-weight: bold;
                      font-family: sans-serif; margin-bottom: 0;">Rishabh Jain</p>
                                </div>
                                <div class="container" style="text-align: center;">
                                    <p style="font-size: 1.3rem;
                      font-weight: bold;
                      font-family: fangsong;
                      color: #babcbb;">Software Engineer</p>
                                </div>
                                <div class="container" style="text-align: center;
                      padding: 8% 0%;
                      display: flex;
                      justify-content: space-evenly;">
                                    <a href="https://www.linkedin.com/in/rishabh99/" style="color: black;">
                                         <i class="fab fa-linkedin-in fa-2x"></i>
                                    </a>
                                    <a href="https://github.com/rishabhjain0" style="color: black;">
                                        <i class="fab fa-github fa-2x"></i>
                                    </a>
                                    <a href="mailto:jainrishabh7899@gmail.com" style="color: black;">
                                        <i class="far fa-envelope  fa-2x"></i>
                                    </a>
                                    <a href="https://meau.in/rishabh" style="color: black;">
                                        <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                                       </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</body>

</html>