<!DOCTYPE html>
<html>

<head>
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="css/styles.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/19bdd19522.js" crossorigin="anonymous"></script>
</head>

<body >
  <div id="adminBackgrounddiv">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Contacts Application</a>
      <ul class="navbar-nav navItemUlClass">
        <li class="nav-item navItemClass">
          <a id="SignInbtnid" class="nav-link" href="#">Sign IN</a>
        </li>
      </ul>
    </nav>
    <div class="container-fluid mainHeadingDiv">
      <div id="bgTextId" class="container headingClass" style="display: none;">
        <p>Welcome to Contacts Application</p>
      </div>
    </div>
  </div>

  <div class="container popUp" id="adminPopUpId">
    <div id="adminCloseBtnId" class="closebtnstyle">
      <i class="fas fa-times-circle closeBtnClass "></i>
    </div>
    <div class="container popUpHeadingDiv">
      <p class="signInPopUpHeading">UpdatePassword</p>
    </div>
    <div class="container inputfieldsDiv">
      <div class="form-group">
        <input type="password" class="form-control" placeholder="password" id="adminPassword" name="password">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="confirm password" id="adminConpassword"
          name="confirmpassword">
      </div>
      <button id="adminSubmitbtn" class="btn btn-primary btn-block">submit</button>
    </div>
  </div>
 
  <div id="userCardId" class="container-fluid">
    <div class="row" id="divParentGetUser">
    </div>
  </div>
  
  <script src="js/admin.js"></script>
  <script src="../js/userdetails.js"></script>
  <script src="js/home.js"></script>
  <script src="js/login.js"></script>
  <script src="js/signup.js"></script>
  <script src="js/success.js"></script>

  <script src="js/ajax.js"></script>
  <script src="js/endpoints.js"></script>
  </div>

</body>

</html>