<!DOCTYPE html>
<html>

<head>
  <title></title>

  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/alert-popup-cdn.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/19bdd19522.js" crossorigin="anonymous"></script>
</head>
<div>

</div>

<body>

  <div id="backgrounddiv" >
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #184d47!important;">
      <a class="navbar-brand" href="/">Contacts Application</a>
      <button class="navbar-toggler" style="padding: .15rem .45rem;
      font-size: 1rem;" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div  class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav navItemUlClass">
        <li class="nav-item navItemClass">
          <a class="nav-link" href="/about" style="color: white;">About us</a>
        </li>
        <li class="nav-item">

          <a id="SignInbtnid" class="nav-link" href="#" style="color: white;">Signin</a>
          <a id="LogOutbtnid" onclick="logout()" class="nav-link" href="#"
            style="display: none; color: white;">Logout</a>

        </li>
      </ul>
    </div>
      
    </nav>
    <div class="container-fluid mainHeadingDiv">
      <div id="bgTextId" class="container headingClass" style="display: none;">
        <p>Welcome to Contacts Application</p>
      </div>
    </div>
  </div>
  <div class="addBtnClass" id="addbtnid">
    <i class="fas fa-plus-square  fa-3x" style="color: white;"></i>
  </div>

  <div class="modal loginPopUp " id="loginPopUp">
    <div class="modal-dialog modal-dialog-centered" style="height: 87%;">
      <div class="modal-content" style="height: 100%;">
        <div class="modal-body">
          <button type="button"  id="closeBtnId" class="close" data-dismiss="modal">&times;</button>
          <div class="container textCentre">
            <h5>Login</h5>
          </div>
          <div class="container mt-5">
            <div class="form-group">
              <input type="text" class="form-control" name="gmail" placeholder="username/email" id="loginGmail">
              <p class="errorStyle" id="err2"> </p>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="password" id="loginPassword" name="password">
              <p class="errorStyle" id="err3"></p>
            </div>
            <button id="loginBtnId" class="btn btn-primary btn-block">login</button>
          </div>
          <div class="container mt-2">
            <div class="row">
              <div class="col-7">
                <span>Don't have an account?</span><a class="registerBtnClass" id="SignUpBtnId">Register</a>
              </div>
              <div class="col-5" style="text-align: end;">
                <a class="registerBtnClass" id="loginForgotPassword">Forgot password?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal signUpPopUp " id="SignUpPopUp">
    <div class="modal-dialog modal-dialog-centered" style="height: 87%;">
      <div class="modal-content" style="height: 100%;">
        <div class="modal-body">
          <button type="button"  id="SignUpCloseBtnId" class="close" data-dismiss="modal">&times;</button>
          <div class="container textCentre">
            <h5>signup</h5>
          </div>
          <div class="container mt-5">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="username/email" id="gmail" name="gmail">
              <p class="errorStyle" id="err4"></p>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="password" id="password" name="password">
              <p class="errorStyle" id="err5"></p>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="confirm password" id="conpassword"
                name="confirmpassword">
              <p class="errorStyle" id="err6"></p>
            </div>
            <button id="submitbtn" class="btn btn-primary btn-block">submit</button>
            <div>
              <p>Already have an account? <a class="registerBtnClass" id="SignInBtnId">SignIn</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal detailPopUp " id="DetailPopUp">
    <div class="modal-dialog modal-dialog-centered" style="height: 87%;">
      <div class="modal-content" style="height: 100%;">
        <div class="modal-body">
          <button type="button"  id="DetailCloseBtnId" class="close" data-dismiss="modal">&times;</button>
          <div class="container textCentre">
            <h5>Add contacts</h5>
          </div>
          <div class="container mt-5">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="first name" id="fname" name="fname">
              <p class="errorStyle" id="err7"></p>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="last name" id="lname" name="lname">
              <p class="errorStyle" id="err8"></p>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="phone number" id="pnumber" name="pnumber">
              <p class="errorStyle" id="err9"></p>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="relation/designation" id="address" name="address">
              <p class="errorStyle" id="err10"></p>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="emailId" id="emailId" name="emailId">
              <p class="errorStyle" id="err11"></p>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="whatsappNumber" id="whatsappNumber"
                name="whatsappNumber">
              <p class="errorStyle" id="err12"></p>
            </div>
            <button id="successbtnid" class="btn btn-primary btn-block">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal forgotPasswordPopUp  " id="forgotPasswordPopUp">
    <div class="modal-dialog modal-dialog-centered" style="height: 87%;">
      <div class="modal-content" style="height: 100%;">
        <div class="modal-body">
          <button type="button"  id="forgotPasswordCloseBtnId" class="close" data-dismiss="modal">&times;</button>
          <div class="container textCentre">
            <h5>forgot password</h5>
          </div>
          <div class="container mt-5">
            <div class="form-group">
              <input type="text" class="form-control" name="gmail" placeholder="username/email" id="username">
              <p class="errorStyle" id="errforgot"> </p>
            </div>
            <button id="forgotPassword" class="btn btn-primary btn-block">submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal resetPasswordPopUp  " id="resetPasswordPopUp">
    <div class="modal-dialog modal-dialog-centered" style="height: 87%;">
      <div class="modal-content" style="height: 100%;">
        <div class="modal-body">
          <button type="button"  id="resetPasswordCloseBtnId" class="close" data-dismiss="modal">&times;</button>
          <div class="container textCentre">
            <h5>reset password</h5>
          </div>
          <div class="container mt-5">
            <div class="form-group">
              <input type="password" class="form-control" placeholder="newpassword" id="newPassword" name="password">
              <p class="errorStyle" id="errnew"></p>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="confirmnewpassword" id="confirmNewPassword" name="password">
              <p class="errorStyle" id="errnewcon"></p>
            </div>
            <button id="resetPassword" class="btn btn-primary btn-block">submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="detailCardId" class="container-fluid">
    <div class="row" id="divParentDetail">
      <div class="col-md-4 col-12 col-sm-6 cardStyling" id="${d._id}" style="display: none;">
        <div class="card styleCard" style="height:21rem;">
          <div class="card-body">
            <div class="dropdown" style=" float: right; margin-top: -12px;
          margin-right: 5px;">
              <i data-toggle="dropdown" class=" fas fa-ellipsis-v"></i>
              <div class="dropdown-menu" id="${d._id}">
                <div class="deleteBtnClass">
                  <a class="dropdown-item "> <i class="far fa-trash-alt fa-lg "> delete</i>
                  </a>
                </div>
                <div class="editBtnClass">
                  <a class="dropdown-item"> <i class="fas fa-edit fa-lg"> edit</i>
                  </a>
                </div>
              </div>
            </div>
            <div class="container mt-3">
              <div class="profileImage "
                style="width: 100px; height: 100px; border-radius: 50%; margin: 0 auto; background-color: red;">
                <img style="width: 100px; height: 100px; border-radius: 50%;"
                  src="https://thumbs.dreamstime.com/b/male-icon-vector-user-person-profile-avatar-flat-color-glyph-pictogram-illustration-117610350.jpg"
                  alt="">
              </div>
            </div>
            <div class="container mt-3" style="text-align: center;">
              <p style="font-size: 1.7rem;
          font-weight: bold;
          font-family: sans-serif; margin-bottom: 0;">${d.fname} ${d.lname}</p>
            </div>
            <div class="container" style="text-align: center;">
              <p style="font-size: 1.3rem;
          font-weight: bold;
          font-family: fangsong;
          color: #babcbb;">${d.address}</p>
            </div>
            <div class="container" style="text-align: center;
          padding: 8% 0%;
          display: flex;
          justify-content: space-evenly;">
              <i class="fab fa-whatsapp  fa-2x"></i>
              <i class="fas fa-phone-square  fa-2x"></i>
              <i class="far fa-envelope  fa-2x"></i>
            </div>
          </div>
        </div>
      </div> 
    </div>

  </div>

  <script src="../js/userdetails.js"></script>
  <script src="js/home.js"></script>
  <script src="js/login.js"></script>
  <script src="js/signup.js"></script>
  <script src="js/success.js"></script>

  <script src="js/ajax.js"></script>
  <script src="js/endpoints.js"></script>
  <script src="js/validations.js"></script>
  <script src="js/alert-popup-cdn.js"></script>
  <script src="js/alert-popup.js"></script>
  <script src="js/forgot-reset.js"></script>




  </div>

</body>

</html>