<!DOCTYPE html>
<html>
<head>
	<title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<h1 >working properly</h1>
      <button id="signupbtnid">signup</button>
      <button id="loginbtnid">login</button>
      <script src="js/home.js"></script>
      <script src="js/ajax.js"></script>
      <script src="js/endpoints.js"></script>
</body>
</html>