<!DOCTYPE html>
<html>
<head>
	<title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <div id="loginPopUp">
        <label for="gmail">your id:</label><br>
        <input type="text" id="loginGmail" name="gmail" ><br>
        <label for="password">your password:</label><br>
        <input type="text" id="loginPassword" name="password">
        <button id="loginBtnId">submit</button>      
   
    </div>
	
       
	
        <script src="../js/login.js"></script>
        <script src="../js/ajax.js"></script>
        <script src="../js/endpoints.js"></script>
  
</body>
</html>