<!DOCTYPE html>
<html>
<head>
	<title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
	
        <label for="gmail">your id:</label><br>
        <input type="text" id="gmail" name="gmail" ><br>
        <label for="password">your password:</label><br>
        <input type="text" id="password" name="password"><br>
        <label for="confirmpassword">confirm password:</label><br>
        <input type="text" id="conpassword" name="confirmpassword"><br>
        <button id="submitbtn">submit</button>      
   
        <script src="../js/signup.js"></script>
      <script src="../js/ajax.js"></script>
      <script src="../js/endpoints.js"></script>
</body>
</html>